header{
    width: 100%;
    height: 100vh;
    background-image: url(./Assets/hero-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;

    & .nav{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      max-width: 1440px;
      margin:20px auto;
      padding-top: 20px 160px 7 rem 160px;

      & a{
        display: flex;
        justify-content: center;
        align-items: center;
        font: var(--button);
        color: var(--text-title);
        background-color: var(--pink-dark);
        width: 89px;
        height: 40px;
        text-align:center;
        border-radius: 8px;
      }
    }

    & .hero{

      
      width: 656px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      & h1{
        font: var(--tittle-lg);
        color: var(--text-title);
        text-align: center;
      }

      & p{
        font: var(--body-lg);
        color: var(--text-body);
        text-align: center;
      }
    }

  }
}

.hero-main{
  height: 400px;
  max-width: 1400px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;

  & div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 5rem;
    text-align: center;
    height: 400px;
    


    & img{
      width: 72px;
      height: 72px;
      position: absolute;
    }

    & img[src*="book"]{
      opacity: 0;
      top: 29%;
      left: 46%;
      transform: rotate(15deg);
    }

    & img[src*="ouija"]{
      opacity: 0;
      left:5%;
      bottom: 8%;
      transform: rotate(100deg);  
    }

    & img[src*="ball"]{
      opacity: 0;
      right:5%;
      bottom: 8%;
      transform: rotate(-15deg);
    }

    & p{
      text-align: center;
      font: var(--subtittle);
      color: #7f7f80;
      line-height: 200%;      
    }

    & span{
      font: var(--subtittle);
      color: #7f7f80;
    }
  } 
}

.hero-main:hover{
  .parte-1{
    animation: transform 400ms forwards;
    & .bluesp{
      animation: transformblue 400ms forwards;
    }
  }

  .parte-2{
    animation: transform 400ms 1s forwards;
    & .bluesp{
      animation: transformblue 400ms 1s forwards;
    }
  }

  .parte-3{
    animation: transform 400ms 2s forwards;
    & .bluesp{
      animation: transformblue 400ms 2s forwards;
    }
  }

  & img[src*="ball"]{
      animation: appears 500ms 2.3s both;

     &:hover {
    transform: rotate(15deg);
   }
  }

  
  & img[src*="book"]{
    animation: appears 100ms 0.3s both;

   &:hover {
    transform: rotate(5deg);
   }
  }

  & img[src*="ouija"]{
    animation: appears 100ms 1.5s both;
    
   &:hover {
    transform: rotate(115deg);
   }
  }

}




@keyframes appears{
  from{
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

@keyframes transform{
0%{ color:#7f7f80;}
100%{color:var(--text-body);}
}

@keyframes transformblue {
0%{ color:#7f7f80;}
100%{color:var(--blue-light);}
}
  

