.main-book{
    border: 3px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
    margin-bottom: 5.5rem;

    & div{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

   & img{
    width: 32px;
    height: 32px;
   }

   & h2{
    font: var(--tittle-sm);
    color: var(--text-title);
   }

   & p{
    font:var(--body-md);
    color: var(--text-body);
   }
    
}

.animation-book{
    width:1120px;
    height: 920px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;    

   .main{
     position: relative;
     width: 400px;
     height: 500px;
     z-index: 1;
   }

   .extra-1{
    position: absolute;
    height: 450px;
    left: 52%;
   }

    .extra-2{
    position: absolute;
    height: 450px;
    left: 52%;
   }
   
   .extra-3{
    position: absolute;
    height: 200px;
   }

   .extra-4{
    width: 130px;
    position: absolute;
   }

     .extra-5{
    width: 130px;
    position: absolute;
   }

     .extra-6{
    width: 130px;
    position: absolute;
   }
}


.animation-book:hover .extra-1{
    animation: moveout 1s ease forwards;
}

.animation-book:hover .extra-2{
    animation: moveout-2 1s ease forwards;
}

.animation-book:hover .extra-3{
    animation: moveout-3 1s ease forwards;

}
.animation-book:hover .extra-3{

}


@keyframes moveout{
    0%{
        transform: translate(-150px,0px);
    }
    40%{
        transform: translate(230px,-20px) rotate(22deg);
    }
    80%{
        transform: translate(220px,-20px) rotate(22deg);
    }
    100%{
        transform: translate(220px,-20px) rotate(22deg);
    }

}

/* from{transform: translate(0,0);}
to{transform: translate(220px,-20px) rotate(22deg);} */

@keyframes moveout-2{
    0%{
        transform: translate(-150px,0px);
    }
    40%{
        transform: translate(130px,-103px) rotate(10deg);
    }
    80%{
        transform: translate(125px,-100px) rotate(10deg);
    }
    100%{
        transform: translate(125px,-100px) rotate(10deg);
    }

}

@keyframes moveout-3{

     0% {
    transform: translate(0,100px);
  }
      40% {
    transform: translate(-225px,230px) rotate(-10deg); 
  }
     80% {
    transform: translate(-219px,225px) rotate(-10deg); 
  }
      100% {
    transform: translate(-219px,225px) rotate(-10deg); 
  } 
}
