.main-book{
    border: 3px solid orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
    margin-bottom: 5.5rem;

    & div{
        display: flex;
        flex-direction: row;
        align-items: center;
        
    }

   & img{
    width: 32px;
    height: 32px;
   }

   & h2{
    font: var(--tittle-sm);
    color: var(--text-title);
   }

   & p{
    font:var(--body-md);
    color: var(--text-body);
   }
    
}
.animation-book{
    border: 1px solid green;
    width:1120px;
    height: 920px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; 
    margin-bottom: 276px;   

   .main{
     position: relative;
     width: 400px;
     height: 500px;
     z-index: 1;
   }

   .extra-1{
    position: absolute;
    height: 450px;
    left: 52%;
   }

    .extra-2{
    position: absolute;
    height: 450px;
    left: 52%;
   }
   
   .extra-3{
    position: absolute;
    height: 200px;
   }

   .extra-4{

        & img{
        width: 130px;
        }
    }

     .extra-5{
        position: relative;

        & span{
            position: absolute;
            right:60px;
            top: -30px;
        }
       
        & img{
         width: 130px;
        }
    }

     .extra-6{
        position: relative;

        & span{
            position: absolute;
            bottom: -30px;
            right: 40px;
        }
       
        & img{
         width: 130px;
        }
   }

   .arrow-text {
    position: absolute;
    display: flex;
    gap: 23px;
    }

    .arrow-text span {
    font: var(--body-md);
    color: var(--text-title);
    white-space: nowrap;
    }
}




.animation-book:hover .extra-1{
    animation: moveout 1s ease forwards;
}

.animation-book:hover .extra-2{
    animation: moveout-2 1s ease forwards;
}

.animation-book:hover .extra-3{
    animation: moveout-3 1s ease forwards;

}
.animation-book:hover .extra-4{
    animation: moveout-4 1s ease forwards;

}

.animation-book:hover .extra-5{
    animation: moveout-5 1s ease forwards;
}

.animation-book:hover .extra-6{
    animation: moveout-6 1s ease forwards;
}


@keyframes moveout{
    0%{
        transform: translate(-150px,0px);
    }
    40%{
        transform: translate(230px,-20px) rotate(22deg);
    }
    80%{
        transform: translate(220px,-20px) rotate(22deg);
    }
    100%{
        transform: translate(220px,-20px) rotate(22deg);
    }

}


@keyframes moveout-2{
    0%{
        transform: translate(-150px,0px);
    }
    40%{
        transform: translate(130px,-103px) rotate(10deg);
    }
    80%{
        transform: translate(125px,-100px) rotate(10deg);
    }
    100%{
        transform: translate(125px,-100px) rotate(10deg);
    }

}

@keyframes moveout-3{

     0% {
    transform: translate(0,100px);
  }
      40% {
    transform: translate(-225px,230px) rotate(-10deg); 
  }
     80% {
    transform: translate(-219px,225px) rotate(-10deg); 
  }
      100% {
    transform: translate(-219px,225px) rotate(-10deg); 
  } 
}

@keyframes moveout-4{

     0% {
    transform: translate(0px,20px);
  }
      40% {
    transform: translate(-336px,65px);
  }
     80% {
    transform: translate(-330px,60px);
  }
      100% {
    transform: translate(-330px,60px); 
  } 
}

@keyframes moveout-5{

     0% {
    transform: translate(0px,0px);
  }
      40% {
    transform: translate(-236px,-260px);
  }
     80% {
    transform: translate(-230px,-250px);
  }
      100% {
    transform: translate(-230px,-250px); 
  } 
}

@keyframes moveout-6{

     0% {
    transform: translate(0px,0px);
  }
      40% {
    transform: translate(296px,280px);
  }
     80% {
    transform: translate(290px,270px); 
  }
      100% {
    transform: translate(290px,270px); 
  } 
}
